.job_detail__wrapper {
  display: flex;
}

.job_detail__aside {
  width: 30%;
}

.job_detail__content {
  width: 70%;
}

.job_detail__published_time {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job_detail__company_info {
  display: flex;
  margin-bottom: 10px;
}

.job_detail__company_info_details {
  margin-left: 10px;
}
