.wrapper__home {
  display: grid;
  grid-template:
    "input input input" 138px
    "aside list list" 100%;
  width: 100%;
}

.aside {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .wrapper__home {
    display: flex;
    flex-direction: column;
  }
}
