*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7fb;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  background: none;
  margin: 12px 12px;
}

@media (min-width: 992px) {
  .container {
    margin: 32px 120px;
  }
}
